public/fotos/ki[[:space:]]bulder[[:space:]]3[[:space:]]semster[[:space:]]/käfig[[:space:]]Kopie.png filter=lfs diff=lfs merge=lfs -text
public/fotos/ki[[:space:]]bulder[[:space:]]3[[:space:]]semster[[:space:]]/taube[[:space:]]Kopie.png filter=lfs diff=lfs merge=lfs -text
public/fotos/roomies[[:space:]]Kopie3[[:space:]]Semster[[:space:]]Ui:ux/Bildschirmaufnahme[[:space:]]2025-01-01[[:space:]]um[[:space:]]12.50.17.mov filter=lfs diff=lfs merge=lfs -text
public/fotos/ki[[:space:]]bulder[[:space:]]3[[:space:]]semster[[:space:]]/Angel[[:space:]]Kopie.png filter=lfs diff=lfs merge=lfs -text
public/fotos/ki[[:space:]]bulder[[:space:]]3[[:space:]]semster[[:space:]]/Schwein[[:space:]]Kopie.png filter=lfs diff=lfs merge=lfs -text
public/fotos/ki[[:space:]]bulder[[:space:]]3[[:space:]]semster[[:space:]]/Goldfischglas[[:space:]]Kopie.png filter=lfs diff=lfs merge=lfs -text
public/fotos/roomies[[:space:]]Kopie3[[:space:]]Semster[[:space:]]Ui:ux/roomies-3.mov filter=lfs diff=lfs merge=lfs -text
